.pcol {
  width: 400px;
  background-color: #ffffff;
  border-radius: 16px;
  padding-bottom: 20px;
  margin-top: 10px;
}
.pText {
  margin-top: 10 !important;
}

.patList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
}

.imgCon {
  margin-top: 20px;
  display: flex;
  height: 48px;
  justify-content: center;
  align-items: center;
}
